extends layout

block navbar
	li
		a(href=hostname+'/') HOME
	li.active
		a(href=hostname + '/announcements') ANNOUNCEMENTS
	li
		a(href=hostname + '/events') EVENTS
		
mixin addAnnouncement(announcement)
	a.list-group-item(href=hostname+'/announcements/'+announcement._id+'/'+announcement.title)
		h2.text-primary= announcement.title
		hr
		p.col-sm-4
			i= announcement.summary
		footer.text-muted.text-right.pull-right.col-sm-4
			small
				|	#{announcement.author}
				br
				|	#{announcement.time}
		.clearfix
		input(type='hidden', value=announcement.createdAt)

block content
	#announcements-list.col-md-10.col-md-offset-1
		h2#announcements-title.col-md-12.text-center
			a Announcements
		.clearfix
		hr
		#announcementsListGroup.list-group
			each announcement in announcements
				+addAnnouncement(announcement)
			#moreAnnouncements.text-center(style='padding-top: 1em')
				p
					a(href='')	Load more
block scripts
	script(src='/javascripts/moreAnnouncements.js')