extends announcements

mixin formatInfo(comment)
	-var localeDate = (new Date(comment.createdAt)).toLocaleString();
	-var when = localeDate.substring(0, localeDate.length - 6) + localeDate.substring(localeDate.length - 2);
	a(href=hostname+'/user/'+comment.userId) #{comment.userName} 
	small.text-muted on #{when}
block content
	#announcementPage.well.col-sm-10.col-sm-offset-1
		ol.breadcrumb.text-right
			li
				a HOME
			li
				a ANNOUNCEMENTS
			li.active THIS
		h2.col-sm-12.text-primary
			i= announcement.title
		small.text-muted.col-sm-4
			p
				| #{announcement.author}
				br
				| #{announcement.time}
		.clearfix
		hr
		.col-sm-12 
			p.text-info Details:
			.col-sm-10!= announcement.description
			.clearfix
		.clearfix
		hr
		#comments.col-sm-8
			h4 Comments
			ul.list-group
				for comment in announcement.comments
					li.list-group-item
						+formatInfo(comment)
						br
						span.col-sm-10
							small!= comment.comment
						.clearfix
			if isLoggedIn
				form(action=hostname+'/announcements/'+announcement._id+'/comments/add', method='post', novalidate)
					fieldset#commentLabel.form-group
						label
							a(href='', style='text-decoration: none').text-muted Make a comment
						#commentArea
							textarea.form-control(name='comment', required)
							br
							button.btn.btn-primary.btn-sm(type='submit') Submit
		.clearfix
block scripts
	script(src='/javascripts/comment.js')