extends layout

block navbar
	li
		a(href=hostname+'/') HOME
	li
		a(href=hostname + '/announcements') ANNOUNCEMENTS
	li
		a(href=hostname + '/events') EVENTS
mixin outputMonths()//- no longer needed
	-var months = ['January', 'February','March','April','May','June','July','August','September','October','November','December'];
	-var thisMonth = (new Date()).getMonth();
	-for (var i=0; i<12; i++)
		-if (i===thisMonth)
			option(value=i, selected='selected') #{months[i]}
		-else 
			option(value=i) #{months[i]}

block content
	-var thisYear = (new Date()).getFullYear();
	h2#newEvent.col-md-12.text-center
		a.page-header Add an Event
	.col-md-8.col-md-offset-2.text-danger.text-center #{message}
	.col-md-8.col-md-offset-2
		form(action='', method='post')
			fieldset.form-group.col-sm-9
				label(for='title') Event Name
				input.form-control(type='text', name='title', required='required')
			.clearfix
			hr
			fieldset.form-group
				label.col-sm-12 When:
					br
					small.text-muted ie. 4/24/1993
				.col-sm-2
					input.form-control.input-sm.text-center(type='number', name='month', min='1', max='12', placeholder='4', required='required')
				.col-sm-2
					input.form-control.input-sm.text-center(type='number', name='day', min='1', max='31', placeholder='24', required='required')
				.col-sm-3
					input.form-control.input-sm.text-center(type='number', name='year', min=thisYear, placeholder='1993', required='required')
				.clearfix
				label.col-sm-12 at:
				.col-sm-3
					input.form-control.input-sm.text-center(type='number', name='hour', min='1', max='12', placeholder='1 - 12', required='required')
				.col-sm-1 :
				.col-sm-3
					input.form-control.input-sm.text-center(type='number', name='minute', min='0', max='59', placeholder='0 - 59', required='required')
				.col-sm-3
					select.form-control.input-sm(name='morning')
						option(value='true', selected='selected') AM
						option(value='false') PM
				.clearfix
			fieldset.form-group
				label.col-sm-12(for='location') Where:
				br
				.col-sm-10
					input.form-control.input-sm(type='text', name='location')
					.clearfix
			fieldset.form-group
				label.col-sm-12(for='capacity') Maximum Number of Participants
				.col-sm-2
					input.form-control.input-sm(type='number', min='1', name='capacity')
				.clearfix
			hr
			fieldset.form-group
				label.col-sm-12(for='summary') Description
				.col-sm-8
					input.form-control.input-sm(type='text', name='summary', placeholder='Display text on events list page')
			fieldset.form-group
				label.col-sm-12(for='description') Details
				.col-sm-12
					textarea.form-control(name='description')
			fieldset.form-group 
				.col-sm-12.text-center
					button.btn.btn-primary(type='submit') Submit