extends events

mixin formatInfo(comment)
	-var localeDate = (new Date(comment.createdAt)).toLocaleString();
	-var when = localeDate.substring(0, localeDate.length - 6) + localeDate.substring(localeDate.length - 2);
	a(href=hostname+'/user/'+comment.userId) #{comment.userName} 
	small.text-muted on #{when}
mixin joinButton
	button.btn.btn-success.pull-right(type='button', data-toggle='modal', data-target='#joinEventForm') Join
	#joinEventForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='#eventJoinTitle', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='close')
						span(aria-hidden='true') &times;
					h3#eventJoinTitle.modal-title.text-center.text-info Join #{event.title}
				.modal-body
					.container-fluid
						.row
							.col-sm-12
								form(action=hostname+'/events/'+event._id+'/join', method='post')
									fieldset.form-group
										label.col-sm-12(for='role') Joining as:
										.col-sm-6
											select.form-control(name='role')
												option(value='Player', selected='selected') Player
												option(value='Spectator') Spectator
										.clearfix
									fieldset.form-group
										label.col-sm-12
											input(type='checkbox', name='warning', value='understand', required='required')
											|	I understand that not showing up for an event I am registered for will have consequences.
										.clearfix
									fieldset.form-group
										.btn-toolbar.col-sm-5.pull-right
											button.btn.btn-secondary.pull-right(type='button', data-dismiss='modal', aria-label='close') Cancel
											button.btn.btn-primary.pull-right(type='submit') Join

mixin cancelButton
	button.btn.btn-secondary.pull-right(type='button', data-toggle='modal', data-target='#cancelMsg') Cancel
	#cancelMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='#cancelMsgTitle', aria-hidden='true')
		.modal-dialog.modal-sm(role='document')
			.modal-content
				.modal-header.text-center
					h3#cancelMsgTitle.text-info Unjoin #{event.title}
				.modal-body
					.container-fluid
						.row
							.col-sm-12
								p You can unjoin an event up until a day before the event starts.
								form(action=hostname+'/events/'+event._id+'/cancel', method='post')
									.btn-toolbar-vertical.col-sm-12
										button.btn.btn-primary.btn-block(type='submit') Unjoin this event
										button.btn.btn-secondary.btn-block(type='button', data-dismiss='modal', aria-label='close') Nevermind
								
block content
	-var isOpen = event.nRegistered < event.capacity;
	-var isOver = (new Date(event.time)).getTime() < Date.now();
	-var registrationClosed = (new Date(event.time)).getTime() - (24* 60 * 60 * 1000) < Date.now();
	-var localeDate = (new Date(event.time)).toLocaleString();
	-var when = localeDate.substring(0, localeDate.length - 6) + localeDate.substring(localeDate.length - 2);
	-var isRegistered = participant;
	#eventPage.well.col-sm-12
		h2.col-md-12.text-center
			a(href=hostname+ '/events') Events
		.clearfix
		hr
		.col-sm-12
			h2.col-sm-12.text-primary= event.title
			.clearfix
			p.col-sm-5
				|	When: #{when}
				br
				|	Where: #{event.location}
				br
				if isOver
					span.label.label-danger EVENT OVER
				else if isOpen & !registrationClosed
					span.label.label-success OPEN
				else
					span.label.label-danger CLOSED
			if isLoggedIn && !isOver
				if isRegistered && registrationClosed
					span.text-muted.pull-right You'ved joined this event
				else if registrationClosed
					span.text-muted.pull-right	Registration Closed
				else if isOpen && !isRegistered
					+joinButton
				else if isRegistered
					form.col-sm-4.col-sm-offset-3(action=hostname+'/events/'+event._id+'/cancel', method='post')
						label.text-muted.pull-right
							span You've joined this event
						.clearfix
						br
						+cancelButton
			.clearfix
		.clearfix
		hr
		.col-sm-8
			h4.col-sm-12
				b Description:
			.col-sm-11.col-sm-offset-1
				!{event.description}
		.col-sm-4
			.row
				.col-sm-12 
					h4 Participants
					ul.list-group
						for participant in event.participants
							li.list-group-item
								a(href=hostname+'/user/'+participant._id) #{participant.name} 
								i	(#{participant.role})
		.clearfix
		hr
		#comments.col-sm-8
			h3 Comments
			ul.list-group
				for comment in event.comments
					li.list-group-item
						+formatInfo(comment)
						br
						span.col-sm-10
							small!= comment.comment
						.clearfix
			if isLoggedIn
				form(action=hostname+'/events/'+event._id+'/comments/add', method='post')
					fieldset#commentLabel.form-group
						label
							a.text-muted(href='', style='text-decoration: none') Make a comment...
						#commentArea
							textarea.form-control(name='comment')
					fieldset.form-group
						button.btn.btn-primary.btn-sm(type='submit') Submit
		.clearfix
block scripts
	script(src='/javascripts/comment.js')