extends layout

mixin getEvents2(event)
	-var isOpen = event.nRegistered < event.capacity;
	-var isOver = (new Date(event.time)).getTime() < Date.now();
	-var localeDate = (new Date(event.time)).toLocaleString();
	-var when = localeDate.substring(0, localeDate.length - 6) + localeDate.substring(localeDate.length - 2);
	a.list-group-item(href=hostname + '/events/'+event._id)
		h2.text-primary= event.title
			small
				if isOver
					span.label.label-danger.pull-right Event Over
				else if isOpen
					span.label.label-success.pull-right Open
				else
					span.label.label-danger.pull-right CLOSED
		hr
		p.col-sm-8
			|	When: #{when}
			br
			|	Where: #{event.location}
			br
			i
				b Description:
			.col-sm-5.col-sm-offset-1	#{event.summary}
			.clearfix
block content
	h2#events-title.col-md-12.text-center
		a.page-header Events
	.col-md-8.col-md-offset-2.text-danger.text-center #{message}
	#eventsList.col-md-10.col-md-offset-1
		.list-group
			each event in events
				+getEvents2(event)