extends layout

block navbar
	li.active
		a(href=hostname+'/') HOME
	li
		a(href=hostname + '/announcements') ANNOUNCEMENTS
	li
		a(href=hostname + '/events') EVENTS
block content
	h2#indexTitle.col-sm-12.text-center.text-primary.well
		i Hello!
	.clearfix
	#homeAnnouncements.col-sm-7
		h2.page-header
			a.text-primary(href=hostname+'/announcements') Recent Announcements
		.col-sm-12
			.list-group
				for announcement in announcements
					a(href=hostname+'/announcements/'+announcement._id+'/'+announcement.title).list-group-item
						h3= announcement.title
						p= announcement.summary
						footer.text-muted.text-right= announcement.time
		.clearfix
		hr
	#homeEvents.col-sm-5
		h2.text-primary.page-header
			a(href=hostname+'/events') Upcoming Events
		.col-sm-12
			.list-group
				for event in events
					-var isOpen = event.nRegistered < event.capacity;
					-var isOver = (new Date(event.time)).getTime() < Date.now();
					-var registrationClosed = (new Date(event.time)).getTime() - (24* 60 * 60 * 1000) < Date.now();
					-var localeDate = (new Date(event.time)).toLocaleString();
					-var when = localeDate.substring(0, localeDate.length - 6) + localeDate.substring(localeDate.length - 2);
					a.list-group-item(href=hostname+'/events/'+event._id)
						h3= event.title
						|	Time: #{when}
						br
						if isOver
							span.label.label-danger EVENT OVER
						else if isOpen & !registrationClosed
							span.label.label-success OPEN
						else
							span.label.label-danger CLOSED
						br
						br
						p= event.summary
		.clearfix
		hr