doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scaled=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		title Scheduler					
		script(src='//cdn.tinymce.com/4/tinymce.min.js')
		script tinymce.init({ selector:'textarea' });
	body#body
		#title-container.container-fluid
			.row
				header.col-sm-12
					h1.text-center
						a#title(href=hostname) 
							i Scheduler
		nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#horizontalnav')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#horizontalnav.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href=hostname+'/') HOME
						li
							a(href=hostname + '/announcements') ANNOUNCEMENTS
						li
							a(href=hostname + '/events') EVENTS
					if !isLoggedIn
						form.navbar-form.navbar-right(action='/login', method='get')
							.btn-toolbar
								button.btn.btn-secondary.input-sm(type='submit', formaction='/register', method='get') Register
								button.btn.btn-primary.input-sm(type='submit') Login
					else
						ul.nav.navbar-nav.navbar-right
							li
								a(href=hostname+'/user/'+_id) Welcome #{username}
							li
								form.navbar-form(action='/logout', method='get')
									button.btn.btn-default(type='submit') Logout
		#main.container
			.row
				.col-md-10.col-md-offset-1
					.clearfix
					block content
				.clearfix
		.container
			.row
				footer.text-right.col-sm-12
					small
						|	By SBH
						br
						| sh2581@nyu.edu
						br
						|	github.com/shiBinH
				.clearfix
		script(src='/javascripts/jquery-2.2.0.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')

